.components-toggle-switch {
  position: fixed;
  right: 13px;
  top: 13px;

  .hint {
    margin-right: 13px;
    display: inline-block;
    margin-top: 4px;
    color: $colors-greyscale-white;
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;

    input {
      opacity: 0;
      width: 0;
      height: 0;
    }
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $colors-greyscale-darker;
    -webkit-transition: .4s;
    transition: .4s;

    &.round {
      border-radius: 30px;

      &:before {
        border-radius: 50%;
      }
    }

    &:before {
      position: absolute;
      content: "";
      height: 22px;
      width: 22px;
      left: 4px;
      bottom: 4px;
      background-color: $colors-core-primary;
      -webkit-transition: .4s;
      transition: .4s;
    }
  }

  input:checked + .slider {
    background-color: $colors-greyscale-lightest;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px $colors-greyscale-lightest;
  }

  input:checked + .slider:before {
    transform: translateX(26px);
  }
}
