.components-button {
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 0 none;
    outline: 0 none;

    &.primary {
        padding: 7px 12px;
        background-color: $colors-greyscale-light;
        color: $colors-greyscale-black;
        text-align: center;

        &:hover {
            background-color: $colors-greyscale-darker;
        }
    }

    &.action {
        padding: 7px 0;
        background-color: $colors-greyscale-white;
        color: $colors-greyscale-black;
        text-align: left;

        &:hover {
            text-decoration: underline;
        }
    }
}
