#root.overlay-open {
    overflow: hidden;
    pointer-events: none;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    display: flex;
    justify-content: center;

    .components-modal {
        background: $colors-greyscale-white;
        overflow: auto;
        margin-top: 56px;

        &.default {
            width: 320px;
            height: 480px;

            @media screen and ($device-medium) {
                width: 640px;
            }

            @media screen and ($device-large) {
                width: 820px;
            }
        }
    }
}
