#root.overlay-open {
    overflow: hidden;
    pointer-events: none;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    display: flex;
    justify-content: flex-end;

    .components-modal {
        background: $colors-greyscale-white;
        width: calc(100% - 10%);
        height: 100vh;
        overflow: auto;
        animation-name: animateRightToLeft10;
        animation-duration: 1s;

        @media screen and ($device-medium) {
            width: calc(100% - 25%);
            animation-name: animateRightToLeft25;
        }

        @media screen and ($device-large) {
            width: calc(100% - 40%);
            animation-name: animateRightToLeft40;
        }
    }
}

@keyframes animateRightToLeft10 {
    0% {
        width: 0;
    }

    100% {
        width: calc(100% - 10%);
    }
}

@keyframes animateRightToLeft25 {
    0% {
        width: 0;
    }

    100% {
        width: calc(100% - 25%);
    }
}

@keyframes animateRightToLeft40 {
    0% {
        width: 0;
    }

    100% {
        width: calc(100% - 40%);
    }
}
