* {
    font-family: "Roboto Regular", Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 18px;

    @media screen and ($device-medium) {
        font-size: 16px;
        line-height: 24px;
    }
}

p {
    margin: 0 0 16px;

    &:last-child {
        margin-bottom: 0;
    }
}

// Start: Layout creation
#root {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header, .container {
    display: flex;
}

header {
    height: 56px;
}

.container {
    height: 500px;
    flex-grow: 1;
    flex-direction: column;
    overflow: auto;
    padding: 15px;

    @media screen and ($device-medium) {
        padding: 30px;
    }
}
// End: Layout creation
