//colors
$colors-core-primary: purple;
$colors-core-secondary: #2196F3;
$colors-greyscale-white: #ffffff;
$colors-greyscale-lightest: #f7f7f7;
$colors-greyscale-light: #e7e7e7;
$colors-greyscale-darker: #c7c7c7;
$colors-greyscale-black: #000000;

//devices
$device-medium: 'min-width: 720px';
$device-large: 'min-width: 960px';
